<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HOME</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='rootstyle.css')}}"> 
  </head>
  <body>

    <div class="marquees">
  <marquee behavior="scroll" direction="left"scrollamount="10">                       _______
                             | ___  o|
                             |[_-_]_ |
          ______________     |[_____]|
         |.------------.|    |[_____]|
         ||            ||    |[====o]|
         ||            ||    |[_.--_]|
         ||            ||    |[_____]|
         ||            ||    |      :|
         ||____________||    |      :|
     .==.|""  ......    |.==.|      :|
     |::| '-.________.-' |::||      :|
     |''|  (__________)-.|''||______:|
     `""`_.............._\""`______
        /:::::::::::'':::\`;'-.-.  `\
       /::=========.:.-::"\ \ \--\   \
       \`""""""""""""""""`/  \ \__)   \
    jgs `""""""""""""""""`    '========'</marquee>
    <marquee behavior="scroll" direction="left"scrollamount="11">

    <p>
      
      Bienvenue sur miscellaneous.org, ici, vous trouverez diverses pages vous redirigeant vers divers contenu dont nos organisations (à savoir Dechets Nation ainsi que Razzia909) ont mis en place depuis Septembre 2022. Vous avez affaire à 3 sous parties pour le moment, une partie dédiée à Razzia909, une seconde à Dechets Nation, une troisième à notre participation au sein de l'Ecole de Recherche Graphique

    </p>
  </marquee>
  <div class="container">

  <a href="/razzia909">Razzia909</a>
  <a href="/dechetsnation">Dechets Nation</a>
  <a href="/skool">ERG</a>




  </div>



  </body>
