<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>school</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}"> 
  </head>
  <body>

    {% include menu %}
      <h2>Ici voilà c'est le côté plutôt scolaire! </h2>
    <div id="articles">
            <ul>

        {% for subject in subjects %}
            <li><a href="{{ url_for('school', _external=False) }}{{ article.path }}"><h2 class="{{article.cat}}">{{article.title}}</h2></a>

               <span class="categorie"><a href="{{ url_for('school', _external=False) }}cat/{{article.cat}}">{{article.cat}}</a></span>

               <span class="author"><a href="{{ url_for('school', _external=False) }}author/{{article.author}}">{{ article.author }}</a></span><span class="date">{{ article.published }}</span></li>
        {% endfor %}

            </ul>
    </div>

<div class="marquees">
  <marquee behavior="scroll" direction="left"scrollamount="10">                       _______
                             | ___  o|
                             |[_-_]_ |
          ______________     |[_____]|
         |.------------.|    |[_____]|
         ||            ||    |[====o]|
         ||            ||    |[_.--_]|
         ||            ||    |[_____]|
         ||            ||    |      :|
         ||____________||    |      :|
     .==.|""  ......    |.==.|      :|
     |::| '-.________.-' |::||      :|
     |''|  (__________)-.|''||______:|
     `""`_.............._\""`______
        /:::::::::::'':::\`;'-.-.  `\
       /::=========.:.-::"\ \ \--\   \
       \`""""""""""""""""`/  \ \__)   \
    jgs `""""""""""""""""`    '========'</marquee>
    <marquee behavior="scroll" direction="right"scrollamount="11">                       _______
                             | ___  o|
                             |[_-_]_ |
          ______________     |[_____]|
         |.------------.|    |[_____]|
         ||            ||    |[====o]|
         ||            ||    |[_.--_]|
         ||            ||    |[_____]|
         ||            ||    |      :|
         ||____________||    |      :|
     .==.|""  ......    |.==.|      :|
     |::| '-.________.-' |::||      :|
     |''|  (__________)-.|''||______:|
     `""`_.............._\""`______
        /:::::::::::'':::\`;'-.-.  `\
       /::=========.:.-::"\ \ \--\   \
       \`""""""""""""""""`/  \ \__)   \
    jgs `""""""""""""""""`    '========'</marquee>

  <marquee behavior="scroll" direction="left"scrollamount="12">                       _______
                             | ___  o|
                             |[_-_]_ |
          ______________     |[_____]|
         |.------------.|    |[_____]|
         ||            ||    |[====o]|
         ||            ||    |[_.--_]|
         ||            ||    |[_____]|
         ||            ||    |      :|
         ||____________||    |      :|
     .==.|""  ......    |.==.|      :|
     |::| '-.________.-' |::||      :|
     |''|  (__________)-.|''||______:|
     `""`_.............._\""`______
        /:::::::::::'':::\`;'-.-.  `\
       /::=========.:.-::"\ \ \--\   \
       \`""""""""""""""""`/  \ \__)   \
    jgs `""""""""""""""""`    '========'</marquee>
    <marquee behavior="scroll" direction="right"scrollamount="13">                       _______
                             | ___  o|
                             |[_-_]_ |
          ______________     |[_____]|
         |.------------.|    |[_____]|
         ||            ||    |[====o]|
         ||            ||    |[_.--_]|
         ||            ||    |[_____]|
         ||            ||    |      :|
         ||____________||    |      :|
     .==.|""  ......    |.==.|      :|
     |::| '-.________.-' |::||      :|
     |''|  (__________)-.|''||______:|
     `""`_.............._\""`______
        /:::::::::::'':::\`;'-.-.  `\
       /::=========.:.-::"\ \ \--\   \
       \`""""""""""""""""`/  \ \__)   \
    jgs `""""""""""""""""`    '========'</marquee>


  <marquee behavior="scroll" direction="left"scrollamount="14">                       _______
                             | ___  o|
                             |[_-_]_ |
          ______________     |[_____]|
         |.------------.|    |[_____]|
         ||            ||    |[====o]|
         ||            ||    |[_.--_]|
         ||            ||    |[_____]|
         ||            ||    |      :|
         ||____________||    |      :|
     .==.|""  ......    |.==.|      :|
     |::| '-.________.-' |::||      :|
     |''|  (__________)-.|''||______:|
     `""`_.............._\""`______
        /:::::::::::'':::\`;'-.-.  `\
       /::=========.:.-::"\ \ \--\   \
       \`""""""""""""""""`/  \ \__)   \
    jgs `""""""""""""""""`    '========'</marquee>
    <marquee behavior="scroll" direction="right"scrollamount="15">                       _______
                             | ___  o|
                             |[_-_]_ |
          ______________     |[_____]|
         |.------------.|    |[_____]|
         ||            ||    |[====o]|
         ||            ||    |[_.--_]|
         ||            ||    |[_____]|
         ||            ||    |      :|
         ||____________||    |      :|
     .==.|""  ......    |.==.|      :|
     |::| '-.________.-' |::||      :|
     |''|  (__________)-.|''||______:|
     `""`_.............._\""`______
        /:::::::::::'':::\`;'-.-.  `\
       /::=========.:.-::"\ \ \--\   \
       \`""""""""""""""""`/  \ \__)   \
    jgs `""""""""""""""""`    '========'</marquee>


  <marquee behavior="scroll" direction="left"scrollamount="14">                       _______
                             | ___  o|
                             |[_-_]_ |
          ______________     |[_____]|
         |.------------.|    |[_____]|
         ||            ||    |[====o]|
         ||            ||    |[_.--_]|
         ||            ||    |[_____]|
         ||            ||    |      :|
         ||____________||    |      :|
     .==.|""  ......    |.==.|      :|
     |::| '-.________.-' |::||      :|
     |''|  (__________)-.|''||______:|
     `""`_.............._\""`______
        /:::::::::::'':::\`;'-.-.  `\
       /::=========.:.-::"\ \ \--\   \
       \`""""""""""""""""`/  \ \__)   \
    jgs `""""""""""""""""`    '========'</marquee>
    <marquee behavior="scroll" direction="right"scrollamount="13">                       _______
                             | ___  o|
                             |[_-_]_ |
          ______________     |[_____]|
         |.------------.|    |[_____]|
         ||            ||    |[====o]|
         ||            ||    |[_.--_]|
         ||            ||    |[_____]|
         ||            ||    |      :|
         ||____________||    |      :|
     .==.|""  ......    |.==.|      :|
     |::| '-.________.-' |::||      :|
     |''|  (__________)-.|''||______:|
     `""`_.............._\""`______
        /:::::::::::'':::\`;'-.-.  `\
       /::=========.:.-::"\ \ \--\   \
       \`""""""""""""""""`/  \ \__)   \
    jgs `""""""""""""""""`    '========'</marquee>


  <marquee behavior="scroll" direction="left"scrollamount="12">                       _______
                             | ___  o|
                             |[_-_]_ |
          ______________     |[_____]|
         |.------------.|    |[_____]|
         ||            ||    |[====o]|
         ||            ||    |[_.--_]|
         ||            ||    |[_____]|
         ||            ||    |      :|
         ||____________||    |      :|
     .==.|""  ......    |.==.|      :|
     |::| '-.________.-' |::||      :|
     |''|  (__________)-.|''||______:|
     `""`_.............._\""`______
        /:::::::::::'':::\`;'-.-.  `\
       /::=========.:.-::"\ \ \--\   \
       \`""""""""""""""""`/  \ \__)   \
    jgs `""""""""""""""""`    '========'</marquee>
    <marquee behavior="scroll" direction="right"scrollamount="11">                       _______
                             | ___  o|
                             |[_-_]_ |
          ______________     |[_____]|
         |.------------.|    |[_____]|
         ||            ||    |[====o]|
         ||            ||    |[_.--_]|
         ||            ||    |[_____]|
         ||            ||    |      :|
         ||____________||    |      :|
     .==.|""  ......    |.==.|      :|
     |::| '-.________.-' |::||      :|
     |''|  (__________)-.|''||______:|
     `""`_.............._\""`______
        /:::::::::::'':::\`;'-.-.  `\
       /::=========.:.-::"\ \ \--\   \
       \`""""""""""""""""`/  \ \__)   \
    jgs `""""""""""""""""`    '========'</marquee>

        <marquee behavior="scroll" direction="left"scrollamount="10">                       _______
                             | ___  o|
                             |[_-_]_ |
          ______________     |[_____]|
         |.------------.|    |[_____]|
         ||            ||    |[====o]|
         ||            ||    |[_.--_]|
         ||            ||    |[_____]|
         ||            ||    |      :|
         ||____________||    |      :|
     .==.|""  ......    |.==.|      :|
     |::| '-.________.-' |::||      :|
     |''|  (__________)-.|''||______:|
     `""`_.............._\""`______
        /:::::::::::'':::\`;'-.-.  `\
       /::=========.:.-::"\ \ \--\   \
       \`""""""""""""""""`/  \ \__)   \
    jgs `""""""""""""""""`    '========'</marquee>


 <marquee behavior="scroll" direction="left"scrollamount="10">                       _______
                             | ___  o|
                             |[_-_]_ |
          ______________     |[_____]|
         |.------------.|    |[_____]|
         ||            ||    |[====o]|
         ||            ||    |[_.--_]|
         ||            ||    |[_____]|
         ||            ||    |      :|
         ||____________||    |      :|
     .==.|""  ......    |.==.|      :|
     |::| '-.________.-' |::||      :|
     |''|  (__________)-.|''||______:|
     `""`_.............._\""`______
        /:::::::::::'':::\`;'-.-.  `\
       /::=========.:.-::"\ \ \--\   \
       \`""""""""""""""""`/  \ \__)   \
    jgs `""""""""""""""""`    '========'</marquee>
    <marquee behavior="scroll" direction="right"scrollamount="11">                       _______
                             | ___  o|
                             |[_-_]_ |
          ______________     |[_____]|
         |.------------.|    |[_____]|
         ||            ||    |[====o]|
         ||            ||    |[_.--_]|
         ||            ||    |[_____]|
         ||            ||    |      :|
         ||____________||    |      :|
     .==.|""  ......    |.==.|      :|
     |::| '-.________.-' |::||      :|
     |''|  (__________)-.|''||______:|
     `""`_.............._\""`______
        /:::::::::::'':::\`;'-.-.  `\
       /::=========.:.-::"\ \ \--\   \
       \`""""""""""""""""`/  \ \__)   \
    jgs `""""""""""""""""`    '========'</marquee>

  <marquee behavior="scroll" direction="left"scrollamount="12">                       _______
                             | ___  o|
                             |[_-_]_ |
          ______________     |[_____]|
         |.------------.|    |[_____]|
         ||            ||    |[====o]|
         ||            ||    |[_.--_]|
         ||            ||    |[_____]|
         ||            ||    |      :|
         ||____________||    |      :|
     .==.|""  ......    |.==.|      :|
     |::| '-.________.-' |::||      :|
     |''|  (__________)-.|''||______:|
     `""`_.............._\""`______
        /:::::::::::'':::\`;'-.-.  `\
       /::=========.:.-::"\ \ \--\   \
       \`""""""""""""""""`/  \ \__)   \
    jgs `""""""""""""""""`    '========'</marquee>
    <marquee behavior="scroll" direction="right"scrollamount="13">                       _______
                             | ___  o|
                             |[_-_]_ |
          ______________     |[_____]|
         |.------------.|    |[_____]|
         ||            ||    |[====o]|
         ||            ||    |[_.--_]|
         ||            ||    |[_____]|
         ||            ||    |      :|
         ||____________||    |      :|
     .==.|""  ......    |.==.|      :|
     |::| '-.________.-' |::||      :|
     |''|  (__________)-.|''||______:|
     `""`_.............._\""`______
        /:::::::::::'':::\`;'-.-.  `\
       /::=========.:.-::"\ \ \--\   \
       \`""""""""""""""""`/  \ \__)   \
    jgs `""""""""""""""""`    '========'</marquee>


  <marquee behavior="scroll" direction="left"scrollamount="14">                       _______
                             | ___  o|
                             |[_-_]_ |
          ______________     |[_____]|
         |.------------.|    |[_____]|
         ||            ||    |[====o]|
         ||            ||    |[_.--_]|
         ||            ||    |[_____]|
         ||            ||    |      :|
         ||____________||    |      :|
     .==.|""  ......    |.==.|      :|
     |::| '-.________.-' |::||      :|
     |''|  (__________)-.|''||______:|
     `""`_.............._\""`______
        /:::::::::::'':::\`;'-.-.  `\
       /::=========.:.-::"\ \ \--\   \
       \`""""""""""""""""`/  \ \__)   \
    jgs `""""""""""""""""`    '========'</marquee>
    <marquee behavior="scroll" direction="right"scrollamount="15">                       _______
                             | ___  o|
                             |[_-_]_ |
          ______________     |[_____]|
         |.------------.|    |[_____]|
         ||            ||    |[====o]|
         ||            ||    |[_.--_]|
         ||            ||    |[_____]|
         ||            ||    |      :|
         ||____________||    |      :|
     .==.|""  ......    |.==.|      :|
     |::| '-.________.-' |::||      :|
     |''|  (__________)-.|''||______:|
     `""`_.............._\""`______
        /:::::::::::'':::\`;'-.-.  `\
       /::=========.:.-::"\ \ \--\   \
       \`""""""""""""""""`/  \ \__)   \
    jgs `""""""""""""""""`    '========'</marquee>


  <marquee behavior="scroll" direction="left"scrollamount="14">                       _______
                             | ___  o|
                             |[_-_]_ |
          ______________     |[_____]|
         |.------------.|    |[_____]|
         ||            ||    |[====o]|
         ||            ||    |[_.--_]|
         ||            ||    |[_____]|
         ||            ||    |      :|
         ||____________||    |      :|
     .==.|""  ......    |.==.|      :|
     |::| '-.________.-' |::||      :|
     |''|  (__________)-.|''||______:|
     `""`_.............._\""`______
        /:::::::::::'':::\`;'-.-.  `\
       /::=========.:.-::"\ \ \--\   \
       \`""""""""""""""""`/  \ \__)   \
    jgs `""""""""""""""""`    '========'</marquee>
    <marquee behavior="scroll" direction="right"scrollamount="13">                       _______
                             | ___  o|
                             |[_-_]_ |
          ______________     |[_____]|
         |.------------.|    |[_____]|
         ||            ||    |[====o]|
         ||            ||    |[_.--_]|
         ||            ||    |[_____]|
         ||            ||    |      :|
         ||____________||    |      :|
     .==.|""  ......    |.==.|      :|
     |::| '-.________.-' |::||      :|
     |''|  (__________)-.|''||______:|
     `""`_.............._\""`______
        /:::::::::::'':::\`;'-.-.  `\
       /::=========.:.-::"\ \ \--\   \
       \`""""""""""""""""`/  \ \__)   \
    jgs `""""""""""""""""`    '========'</marquee>


  <marquee behavior="scroll" direction="left"scrollamount="12">                       _______
                             | ___  o|
                             |[_-_]_ |
          ______________     |[_____]|
         |.------------.|    |[_____]|
         ||            ||    |[====o]|
         ||            ||    |[_.--_]|
         ||            ||    |[_____]|
         ||            ||    |      :|
         ||____________||    |      :|
     .==.|""  ......    |.==.|      :|
     |::| '-.________.-' |::||      :|
     |''|  (__________)-.|''||______:|
     `""`_.............._\""`______
        /:::::::::::'':::\`;'-.-.  `\
       /::=========.:.-::"\ \ \--\   \
       \`""""""""""""""""`/  \ \__)   \
    jgs `""""""""""""""""`    '========'</marquee>
    <marquee behavior="scroll" direction="right"scrollamount="11">                       _______
                             | ___  o|
                             |[_-_]_ |
          ______________     |[_____]|
         |.------------.|    |[_____]|
         ||            ||    |[====o]|
         ||            ||    |[_.--_]|
         ||            ||    |[_____]|
         ||            ||    |      :|
         ||____________||    |      :|
     .==.|""  ......    |.==.|      :|
     |::| '-.________.-' |::||      :|
     |''|  (__________)-.|''||______:|
     `""`_.............._\""`______
        /:::::::::::'':::\`;'-.-.  `\
       /::=========.:.-::"\ \ \--\   \
       \`""""""""""""""""`/  \ \__)   \
    jgs `""""""""""""""""`    '========'</marquee>

        <marquee behavior="scroll" direction="left"scrollamount="10">                       _______
                             | ___  o|
                             |[_-_]_ |
          ______________     |[_____]|
         |.------------.|    |[_____]|
         ||            ||    |[====o]|
         ||            ||    |[_.--_]|
         ||            ||    |[_____]|
         ||            ||    |      :|
         ||____________||    |      :|
     .==.|""  ......    |.==.|      :|
     |::| '-.________.-' |::||      :|
     |''|  (__________)-.|''||______:|
     `""`_.............._\""`______
        /:::::::::::'':::\`;'-.-.  `\
       /::=========.:.-::"\ \ \--\   \
       \`""""""""""""""""`/  \ \__)   \
    jgs `""""""""""""""""`    '========'</marquee>



 <marquee behavior="scroll" direction="left"scrollamount="10">                       _______
                             | ___  o|
                             |[_-_]_ |
          ______________     |[_____]|
         |.------------.|    |[_____]|
         ||            ||    |[====o]|
         ||            ||    |[_.--_]|
         ||            ||    |[_____]|
         ||            ||    |      :|
         ||____________||    |      :|
     .==.|""  ......    |.==.|      :|
     |::| '-.________.-' |::||      :|
     |''|  (__________)-.|''||______:|
     `""`_.............._\""`______
        /:::::::::::'':::\`;'-.-.  `\
       /::=========.:.-::"\ \ \--\   \
       \`""""""""""""""""`/  \ \__)   \
    jgs `""""""""""""""""`    '========'</marquee>
    <marquee behavior="scroll" direction="right"scrollamount="11">                       _______
                             | ___  o|
                             |[_-_]_ |
          ______________     |[_____]|
         |.------------.|    |[_____]|
         ||            ||    |[====o]|
         ||            ||    |[_.--_]|
         ||            ||    |[_____]|
         ||            ||    |      :|
         ||____________||    |      :|
     .==.|""  ......    |.==.|      :|
     |::| '-.________.-' |::||      :|
     |''|  (__________)-.|''||______:|
     `""`_.............._\""`______
        /:::::::::::'':::\`;'-.-.  `\
       /::=========.:.-::"\ \ \--\   \
       \`""""""""""""""""`/  \ \__)   \
    jgs `""""""""""""""""`    '========'</marquee>

  <marquee behavior="scroll" direction="left"scrollamount="12">                       _______
                             | ___  o|
                             |[_-_]_ |
          ______________     |[_____]|
         |.------------.|    |[_____]|
         ||            ||    |[====o]|
         ||            ||    |[_.--_]|
         ||            ||    |[_____]|
         ||            ||    |      :|
         ||____________||    |      :|
     .==.|""  ......    |.==.|      :|
     |::| '-.________.-' |::||      :|
     |''|  (__________)-.|''||______:|
     `""`_.............._\""`______
        /:::::::::::'':::\`;'-.-.  `\
       /::=========.:.-::"\ \ \--\   \
       \`""""""""""""""""`/  \ \__)   \
    jgs `""""""""""""""""`    '========'</marquee>
    <marquee behavior="scroll" direction="right"scrollamount="13">                       _______
                             | ___  o|
                             |[_-_]_ |
          ______________     |[_____]|
         |.------------.|    |[_____]|
         ||            ||    |[====o]|
         ||            ||    |[_.--_]|
         ||            ||    |[_____]|
         ||            ||    |      :|
         ||____________||    |      :|
     .==.|""  ......    |.==.|      :|
     |::| '-.________.-' |::||      :|
     |''|  (__________)-.|''||______:|
     `""`_.............._\""`______
        /:::::::::::'':::\`;'-.-.  `\
       /::=========.:.-::"\ \ \--\   \
       \`""""""""""""""""`/  \ \__)   \
    jgs `""""""""""""""""`    '========'</marquee>




</div>


    <script src="index.js"></script>
  </body>
</html>
